<div class="container">
    <div class="row">
        <h2>Mis Reservas</h2>
    </div>
    @if(usuarioActivo){
        @if (listaReservas && listaReservas.length > 0) {
        <div class="accordion" id="accordionReservas">
        @for (r of listaReservas; track r.id) {
            <app-reservaitemcomponent [reserva]="r"></app-reservaitemcomponent>
        }
        </div>
        } @else {
            <p>Aún no tienes reservas realizadas.</p>
        }
    } @else {
        <p>=C</p>
    }
</div>